{% extends "base.html" %}

{% block content %}
<div class="card" style="width: 60%;">
    <ul class="list-group list-group-flush" style="text-align: center;">
        <li class="list-group-item">
          <p class="display-1">{{ word.ita_word }}</p>
        </li>
        <li class="list-group-item">
            <p class="display-5">{{ word.eng_word }}</p>
        </li>
        <li class="list-group-item">
            <div>
                <a href=""><img src="" alt="Show/Hide" style="margin-right: 25%;"></a>
                <a href=""><img src="" alt="Next" style="margin-left: 25%;"></a>
            </div>
        </li>
    </ul>
  </div>
{% endblock content %}